# System
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node.js (Frontend)
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Go (Backend)
backend/bin/
backend/vendor/
backend/go.work
backend/*.exe
backend/*.test
backend/backend # compiled binary name if strictly 'backend'

# Database
postgres_data/

# Docker
.colima

# Local Testing 
backend/sonar-project.properties
backend/.scannerwork/
server.log